@import url(https://fonts.googleapis.com/css?family=Raleway);

h1 {
    color: #FFD700;
    font-family: 'Raleway',cursive;
    font-size: 60px;
}

p {
    font-family: arial, serif;
	font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
}

.center{
	 text-align: center;
}

#slogan{
 
  font-weight: bold;
}


header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

div{
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}




/*#about{
    background-color: blue;
}

#services{
    background-color:rgb(176,176,176);
}*/


#wrapper{

    height:100vh;
    width:100vw;
    background-image: url(../images/landing.jpg);
    background-size: cover;
}



/*#centerimage{

	 display: block;
	 margin: 0 auto;
}

#centerlist{

    margin:0 auto;
    width: 250px;
}*/





