@import url(https://fonts.googleapis.com/css?family=Raleway);
* { margin:0;padding:0;box-sizing:border-box; }

h1 {
    color: white;
    font-family: 'Raleway',cursive;
    font-size: 60px;
}

p {
    color:white;
    font-family: arial, serif;
	font-size: 18px;
	line-height: 1.5em;
}

body{
    background-color:grey;
    color:white;
/*    background-image: url(../images/me.jpg);*/
    background-size: cover;
}

.center{
	 text-align: center;
}

#slogan{
 
  font-weight: bold;
}



header {
    padding: 20px;
}

nav {
    padding: 10px;
/*    background-color:rgba(0,0,0,0.20);*/
}

a{
    font-size:20px;
    color: white;
    text-decoration: none;
    display: block;
    float: right;
    padding: 20px;
}

a:hover{
    background: rgba(0,0,0,0.20);
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

footer {
    font-size: 15px;

}

div{
    padding: 20px;
}

img {
    float:left;
    padding:.5em;
    width:25%;
}


.left {
    background-color:rgba(0,0,0,0.5);
    border: 1px black;
    padding: 20px;
    float: left;
    width: 20%;
    min-height:96px;
}

.descriptionleft {
    padding: 40px;
    float: left;
    width: 40%;
    min-height:96px;
}

.descriptionright {
    padding: 40px;
    float: right;   
    width: 60%;
}


.footerleft {
    padding: 10px;
    float: left;
    width: 30%;
    min-height:96px;
}




/*#about{
    background-color: blue;
}

#services{
    background-color:rgb(176,176,176);
}*/


#landingcoverimage{

    background-image: url(../images/me.jpg);
    background-size: cover;
}


/*#centerimage{

	 display: block;
	 margin: 0 auto;
}

#centerlist{

    margin:0 auto;
    width: 250px;
}*/


@media only screen and (max-width: 700px){

  .left {
    float: none;
    font-size:0.5em;
    width:100%;
    min-height: 0px;
    padding:1em;
    font-size: 2em;
    float:center;
    font-size: 0.1em;
  }

  nav{
     float:none;
     margin:auto;
  }
}

  @media only screen and (max-width: 847px){

   h1{
     color:white;
   }

  






