@import url(https://fonts.googleapis.com/css?family=Raleway);
* { margin:0;padding:0;box-sizing:border-box; }

h1 {
    color: black;
    font-family: 'Raleway',cursive;
    font-size: 60px;
}

p {
    color:black;
    font-family: arial, serif;
	font-size: 18px;
	line-height: 1.5em;
}

a{
    color: black;
    text-decoration: none;
    float: right;
    padding: 20px;
}

a:hover{
    background: grey;
}

body{

    color:white;
}

.center{
	 text-align: center;
}

#slogan{
 
  font-weight: bold;
}



header {
    padding: 20px;
}

nav {
    padding: 10px;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

footer {
/*    background-color: purple;*/
    padding: 20px;
}

div{
/*    background-color:  #F0BBEF;*/
    padding: 20px;

}
img {
    float:left;
    padding:.5em;
    width:25%;
}

#two_column {
/*    background-color: #FFB7CF;*/
    padding: 20px;
}

.left {
/*    background-color: #E582A2;*/
    padding: 20px;
    display:block;
    float: left;
    width: 20%;
    min-height:96px;
}
.left a{
font-size:20px;
}


#right {
    background-color: #E55B88;
    padding: 20px;
    float: right;   
    width: 62%;
}



/*#about{
    background-color: blue;
}

#services{
    background-color:rgb(176,176,176);
}*/


#laningcoverimage{

    height:100vh;
    width:100vw;
    background-image: url(../images/flower.jpg);
    background-size: cover;
}

#indexcoverimage{
/*    height:100vh;
    width:100vw;
    background-image: url(../images/me.jpg);
    background-size: cover;
    display: block;*/
    position: relative;

}

#indexcoverimage::after{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/me.jpg); 
    width: 100%;
    height: 100%;
    opacity : 0.7;
    z-index: -1;
    background-size: cover;
}



/*#centerimage{

	 display: block;
	 margin: 0 auto;
}

#centerlist{

    margin:0 auto;
    width: 250px;
}*/


@media only screen and (max-width: 530px){

  .left{
    float:none;
    display:block;
    width:100%;
    margin: 0;
    padding: 0;
  }

  .left a{

    font-size:1em;
    width:100%;
    margin: 0 1em;
    border: 1px solid black;
    min-height:0px;
/*    float:none;
    width:100%;
    display:inline-block;
    text-align: center; 
    margin: 0 1em 1em;*/

  }

  a:hover{
    background: grey;
    margin: 0.4em;
}

/*    .left a{
    padding: 20px;
    float: left;
    width: 20%;
    min-height:96px;
    font-size:20px;
	float:left;
	display: block;
  }*/

  nav{
     float:center;
  }
}

  @media only screen and (max-width: 847px){

   h1{
     font-color:white;
   }

  }






